In [2]:
import pandas as pd

In [14]:
df = pd.read_csv('../data/qpairs_dev.csv')

In [11]:
df.shape

(323480, 6)

In [15]:
qdf = pd.read_csv('../data/questions.csv')

In [19]:
qdf.drop_duplicates(["question1", "question2"])

(404351, 6)

In [25]:
qdf[qdf['is_duplicate'] == 0].shape[0] / float(qdf.shape[0])

0.6307515005527375

In [6]:
df[df['is_duplicate'] == 1].shape

(119535, 6)

In [7]:
df[df['is_duplicate'] == 0].shape

(203945, 6)

In [9]:
1 - (119535 / (119535 + 203945))

0.6304717447755657

In [48]:
df.head()

,qid1,qid2,question1,question2,is_duplicate
id,,,,,
24716,49304,49305,Muslims in Germany?,"If I learn C#/.NET, would it still be benefici...",0
170648,337208,337209,What are some ways people make money without a...,How I can make money fast?,1
183739,362859,362860,How can you determine the molecular formula of...,How is the molecular formula of aluminum deter...,0
275399,541513,541514,Which is the best books to study for gre?,Which are the best books or learning resources...,1
250353,492900,492901,Will there be another economic crisis (similar...,How can another financial crisis like the 2008...,0

In [37]:
df[['qid1']]

          qid1
65236   129715
383038  749046
364906  714300
263381  518228
363627  711838
40727    81123
389187  760801
8772     17521
122154  242067
35260    70259

In [24]:
def mf(x):
    return pd.Series({
        'word_len': len(str(x).split(' ')),
        'c_len': len(list(str(x)))
    })

In [53]:
dft = df['question1'].apply(mf)

In [55]:
t = mf('x  y z')

In [56]:
t

word_len    4
c_len       6
dtype: int64

In [57]:
t.to_dict()

{'word_len': 4, 'c_len': 6}

In [51]:
pd.DataFrame(dft).set_index

        word_len  c_len
65236         15     68
383038        15    102
364906         9     50
263381         7     35
363627        12     68
40727          4     21
389187         5     23
8772           6     37
122154        12     63
35260         10     40

In [33]:
df.merge(dft, left_index=True, right_index=True)

,id,qid1,qid2,question1,question2,is_duplicate,word_len,c_len
65236,65236,129715,129716,Why would an ex follow me on social networks i...,He broke up with me because he has major probl...,0,15,68
383038,383038,749046,749047,Why thermal conductivity of water increases wi...,Why does the thermal conductivity of metals de...,0,15,102
364906,364906,714300,714301,What is the best beginner friendly book on pyt...,What is the best Python learning book for begi...,1,9,50
263381,263381,518228,518229,Why money is important in our life?,Money is really important for living life?,1,7,35
363627,363627,711838,711839,Why do most people not have the willpower to b...,What are those apps/ icons?,0,12,68
40727,40727,81123,81124,Why do stars twinkle?,Why do stars flick?,1,4,21
389187,389187,760801,760802,"When did you ""grow up""?",When will I grow up?,0,5,23
8772,8772,17521,17522,Are human too dependent on computers?,Are we too dependent on computers?,1,6,37
122154,122154,242067,242068,Is it safer to deal with cash or cashier's che...,"When selling a car on the Craigslist, is it sa...",0,12,63
35260,35260,70259,70260,How do I prepare for LIC aao in 2 month?,How do I start MY preparation for LIC AAO 2017...,0,10,40

In [67]:
ndf = pd.read_csv('../data/naive_features.csv').set_index('id')

In [69]:
ndf.head()

,naive_num_words_q1,naive_num_words_q2,naive_num_chars_q1,naive_num_chars_q2,naive_num_shared_words_case_se,naive_num_shared_chars_case_se
id,,,,,,
0,15,13,66,57,12,21
1,11,16,51,88,7,20
2,15,11,73,59,4,21
3,13,19,50,65,1,14
4,16,8,76,39,5,18

In [73]:
ndf.head().drop(['id'], axis=1)

KeyError: "['id'] not found in axis"

In [75]:
pred_df = pd.read_csv('../data/predictions.csv', usecols=['id', 'is_duplicate']).set_index('id')

In [79]:
import numpy as np
(pred_df.values > 0.5).astype(np.int)

array([[0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0]])

In [80]:
feat_df = pd.read_csv('../data/qpairs_dev_naive_features.csv').set_index('id')

In [81]:
feat_df.head()

,naive_num_words_q1,naive_num_words_q2,naive_num_chars_q1,naive_num_chars_q2,naive_num_shared_words_case_se,naive_num_shared_chars_case_se
id,,,,,,
0,15,13,66,57,12,21
1,11,16,51,88,7,20
3,13,19,50,65,1,14
4,16,8,76,39,5,18
5,20,21,86,90,10,22